<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="model"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.178.20"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="25"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value=""/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="nextClientValue, messages, discoState, publishedState, appliedState, committedStates, nextPublishingId"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1PreservePrefixOrder"/>
<listEntry value="1Wellformed"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Follower;;Follower;1;0"/>
<listEntry value="Master;;Master;1;0"/>
<listEntry value="Join;;Join;1;0"/>
<listEntry value="Nodes;;{&quot;n1&quot;, &quot;n2&quot;, &quot;n3&quot;};0;0"/>
<listEntry value="NodeOrder;;[n1 |-&gt; 1, n2 |-&gt; 2, n3 |-&gt; 3];0;0"/>
<listEntry value="Nil;;Nil;1;0"/>
<listEntry value="Become_Master;;Become_Master;1;0"/>
<listEntry value="Commit;;Commit;1;0"/>
<listEntry value="Candidate;;Candidate;1;0"/>
<listEntry value="Unicast;;Unicast;1;0"/>
<listEntry value="Become_Follower;;Become_Follower;1;0"/>
<listEntry value="Publish;;Publish;1;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="nextClientValue &lt;= 4"/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="2"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="zen"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
